@import url(https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);


body{
  letter-spacing: 0.2px;
  font-family: "open-sans",sans-serif;
}


nav{
  background-color: #3da2df;
  height:44px;
  font-family: 'Averia Gruesa Libre', cursive;
}

.menu-icon{
  float: left;
  width: 43px;
  height: 43px;
}
.menu-icon i{
  display: block;
  font-size: 48px;
  margin-top: -10px;
}

.social-list, .nav-list{
  list-style: none;
}

.social-list{
  float: right;
}
.social-list img{
  margin-top: 7px;
}

.nav-list{
  /*display:none;*/
  position: absolute;
  top: 43px;
  left: -100%;
  background-color: #8a8a8a;
  width: 80%;
  height: 100%;
  z-index: 1000;
  padding: 10px;
  opacity: 0.9;
  transition: all 500ms;
}
.nav-list li{
  margin-top: 20px;
  height: 50px;
}
.nav-list li a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Averia Gruesa Libre', cursive;
}

/******* HEADER *******/
header h1, header h3{
  font-weight: normal;
  text-align: center;
}

header h1{
  font-size: 44px;
  margin-bottom: 0;
}

header h3{
  font-size: 20px;
  color:#3da2df;
  margin-bottom: 20px;
  margin-top: 10px;
}

/***************FEATURED SECTION**********/
.featured .game-list{
  list-style: none;
}
.featured .game-list li:first-child{
  background-color: #90fdff;
  border-right: 1px solid antiquewhite;
}
.featured .game-list li:nth-child(2){
  background-color: #30fdff;
  border-right: 1px solid antiquewhite;
}
.featured .game-list li:last-child{
  background-color: #90fdff;
}
.featured .game-list li{
  border-radius: 14px;
  margin-bottom: 2px;
}
.featured .game-list li a:hover{
  text-decoration: none;
  cursor: hand;
}
.featured .game-list li h2, .featured .game-list li h3{
  text-align: center;
  line-height: 0.8;
}

.game-header{
  height: 100px;
}
.game-header h2{
  height: 37px;
}
.match-status{
  margin-top: 25px;
  height: 100px;
}
.match-status .team-name:first-child{
  float:left;
  width: 30%;
  overflow: hidden;
  word-break: break-all;
  text-align: center;
  margin: 26px 3px 0 3px;
  box-sizing: border-box;
}
.match-status .team-name:last-child{
  float:right;
  width: 30%;
  overflow: hidden;
  word-break: break-all;
  text-align: center;
  margin: 26px 3px 0 3px;
  box-sizing: border-box;
}
.match-status .score{
  float:left;
  border: 3px dotted yellowgreen;
  border-radius: 10px;
  text-align: center;
  width:35%;
  height:80px;
  box-sizing: border-box;
}
.match-status .score p{
  padding-top: 14px;
}
.match-status .score h4{
  margin-top: -4px;
}

@media (min-width: 768px){
  .menu-icon{
    display: none;
  }

  .social-list li{
    margin-left: 20px;
  }

  .nav-list li{
    margin-top: 0px;
    float: left;
    display: block;
    margin-right: 20px;
    height: inherit;
  }

  .social-list{
    padding-right: 3px;
    float: right;
    padding-top:9px;
  }

  .nav-list{
    display:block;
    position: inherit;
    float: left;
    padding-left: 3px;
    margin-right: 20px;
    padding-top:11px;
    width: inherit;
    background-color: transparent;
  }
  .social-list img{
    margin-top: -3px;
  }
  /******* HEADER *******/
  header h1, header h3{

  }

  header h1{

  }

  header h3{

  }

  /***************FEATURED SECTION**********/
  .featured .game-list li{
    float: left;
    border-radius: 18px;
  }
  .featured .game-list li a:hover{
    text-decoration: none;
    cursor: hand;
  }
  .featured .game-list li h2, .featured .game-list li h3{
    text-align: center;
    line-height: 0.8;
  }
  .game-header{
    height: 100px;
  }
  .game-header h2{
    height: 37px;
  }
  .match-status{
    margin-top: 25px;
    height: 100px;
  }
  .match-status .team-name:first-child{
    float:left;
    width: 30%;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
    margin: 26px 3px 0 3px;
    box-sizing: border-box;
  }
  .match-status .team-name:last-child{
    float:right;
    width: 30%;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
    margin: 26px 3px 0 3px;
    box-sizing: border-box;
  }
  .match-status .score{
    float:left;
    border: 3px dotted yellowgreen;
    border-radius: 10px;
    text-align: center;
    width:34%;
    height:80px;
    box-sizing: border-box;
  }
  .match-status .score p{
    padding-top: 14px;
  }
  .match-status .score h4{
    margin-top: -4px;
  }

  /***************TEAM DETAILS**************/
  .team-details h2{
    font-weight: normal;
    font-size: 30px;
    color: #3da2df;
  }

}