@import url(https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);


body{
  letter-spacing: 0.2px;
  font-family: "open-sans",sans-serif;
}


nav{
  background-color: #3da2df;
  height:44px;
  font-family: 'Averia Gruesa Libre', cursive;
}

nav .container li{
  /*display: inline;*/
  float: left;
}

.social-list, .nav-list{
  list-style: none;
}

.social-list li{
  margin-left: 20px;
}

.nav-list li{
  margin-right: 20px;
}

.social-list{
  padding-right: 3px;
  float: right;
  padding-top:9px;
}

.nav-list{
  padding-left: 3px;
  float: left;
  margin-right: 20px;
  padding-top:11px;
}

.nav-list li a{
  color: #ffffff;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Averia Gruesa Libre', cursive;
}

/******* HEADER *******/
header h1, header h3{
  font-weight: normal;
  text-align: center;
}

header h1{
  font-size: 44px;
  margin-bottom: 0;
}

header h3{
  font-size: 20px;
  color:#3da2df;
  margin-bottom: 20px;
  margin-top: 10px;
}

/***************FEATURED SECTION**********/
.featured .game-list{
  list-style: none;
}
.featured .game-list li:first-child{
  background-color: #90fdff;
  border-right: 1px solid antiquewhite;
}
.featured .game-list li:nth-child(2){
  background-color: #30fdff;
  border-right: 1px solid antiquewhite;
}
.featured .game-list li:last-child{
  background-color: #90fdff;
}
.featured .game-list li{
  float: left;
  border-radius: 14px;
  height:200px;
}
.featured .game-list li a:hover{
  text-decoration: none;
  cursor: hand;
}
.featured .game-list li h2, .featured .game-list li h3{
  text-align: center;
  line-height: 0.6;
}

.match-status{
  margin-top: 25px;
}
.match-status .team-name:first-child{
  float:left;
  width: 30%;
  overflow: hidden;
  text-align: center;
  margin: 26px 3px 0 3px;
  box-sizing: border-box;
}
.match-status .team-name:last-child{
  float:right;
  width: 30%;
  overflow: hidden;
  text-align: center;
  margin: 26px 3px 0 3px;
  box-sizing: border-box;
}

.match-status .score{
  float:left;
  border: 3px dotted yellowgreen;
  border-radius: 10px;
  text-align: center;
  width:30%;
  height:80px;
  box-sizing: border-box;
}
.match-status .score p{
  padding-top: 14px;
}
.match-status .score h4{
  margin-top: -4px;
}



  /***************TEAM DETAILS**************/
.team-details h2{
  font-weight: normal;
  font-size: 30px;
  color: #3da2df;
}